.backgound-image {
    background-image: url('../assets/imgs/background1.png');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .slider{
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  
.swiper-container {
    height: 600px;
    width: 300px;
} 
